.guide-con {
  background-color: black;
  justify-content: center;
  align-items: center;
}

.guide-img {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  display: block;
  margin-left: auto;
  margin-right: auto;
}
