.Manage-page-con{
	margin: 30px 0;
	.Manage-plan-title{
		display: flex;
		align-items: center;
		margin: 30px 0 10px;
		h2{
			font-size: 20px;
		}
		svg{
			font-size: 2rem;
			color: $main-color;
			margin-right: 8px;
		}
		@media screen and (min-width: 768px){
			margin: 60px 0 20px;
			h2{
				font-size: 50px;
			}
			svg{
				font-size: 4.2rem!important;
				margin-right: 12px;
			}
		}
	}
	.Manage-contents-con{
		display: flex;
		&>div{
			width: 100%;
			@media screen and (min-width: 768px){
				width: 30%;
			}
		}
		.btn-con{
			margin-top: 22px;
			display: flex;
			width: 100%;
			justify-content: space-around;
		}
	}
}

.share-modal{
	.share-img-con{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		button{
			margin-right: 5px;
		}
	}
	.share-des{
		margin-top: 15px;
	}
}