$main-color : #2699FB;
$mid-color : #7FC4FD;
$back-color : #C9E8FF;

$first-color : #008BFF3B;
$second-color : #008BFF6E;
$third-color : #1971B98F;
$last-color : #003274;


$gray : #747474;
$light-pink : #FFF1FD;