/* comment */

.commentinput {
  border: 1px solid #2699fb;
  width: 100%;
  height: 50px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.sharebtn {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  float: right;
  width: 40%;
  height: 20%;
  background: #2699fb;
  color: #ffffff;
  border: transparent;
}

/* comment item */

.tr {
  border: 2px solid #dddddd;
  text-align: left;
}
.t1 {
  width: 5%;
  font-weight: bold;
  svg {
    font-size: 2rem;
    color: $main-color;
    margin-left: 10px;
  }
}
.t2 {
  height: 40px;
  width: 5%;
  font-weight: bold;
}
.t3 {
  height: 40px;
  width: 20%;
}
