.nickname {
  font-size: 17px;
  font-weight: bold;
}
.logininput {
  font-size: 17px;
  font-weight: bold;
  float: right;
  width: 70%;
}

.login-flex-container {
  align-items: center;
  margin-right: 15px;
}

.notice {
  font-size: 12px;
  font-weight: bold;
}
.btn {
    font-size: 15px;
    font-weight: bold;
    background: #2699fb;
    color: #ffffff;
    border: transparent;
	padding: 8px 15px;
	float: right;
	cursor: pointer;
	&:active, &:focus{
		outline: none;
	}
}
.img {
  max-width: 10%;
  height: auto;
  display: inline;
}
