.timetable{
	.timetable-table{
		tr{
			height: 50px;

		}
		.blank{
			color: transparent;
		}
		.timetable-day{
			.day{
				background-color: $back-color;
				border:1px solid $gray;
			}
		}
		.timetable-time{
			.timetable-time-string{
				&>div{
					position: absolute;
					top:-12px;
					left: 0;
					background-color: white;
					padding-right: 12px;
				}
			}
			.table-body{
				border:1px solid $gray;
				&.not-selected{
					background-color: $light-pink;
				}
			}
		}
	}
}