.timetable{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	
	@media screen and (min-width: 768px){
		margin-right: 5%;
		margin-bottom: 0;
	}
	&>div{
		width: 100%;	
	}
	.timetable-title{
		margin-left: 2px;
		h2{
			font-size: 16px;
			font-weight: 600;
			@media screen and (min-width: 768px){
				font-size: 30px;
			}
		}
	}
	.timetable-table-con{
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $main-color;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-track {
			background-color: white;
			border-radius: 10px;
			border: 2px solid lightgray;
		}
	}
	.timetable-table, .still-table{
		width: 100%;
		tr{
			height: 30px;
			@media screen and (min-width: 768px){
				height: 35px;
			}
		}
		.day, .date, .table-body, .timetable-time-string{
			padding: 2px;
			font-size: 0.5rem;
			@media screen and (min-width: 768px){
				padding: 10px;
				font-size: 1rem;
			}
		}
		.day{
			background-color: $back-color;
			border:1px solid $gray;
		}
		.blank{
			position: sticky;
			left: 0;
			z-index: 1;
			background-color: white;
			color: transparent;
			border : 0;
		}
		.timetable-time{
			.timetable-time-string{
				position: sticky;
				left: 0;
				z-index: 1;
				background-color: white;
				&>div{
					position: absolute;
					top:-12px;
					left: 0;
					font-size: 0.6rem;
					background-color: white;
					@media screen and (min-width: 768px){
						padding-right: 12px;
						font-size: 1rem;
					}
				}
			}
			.table-body-mine, .table-body-team, .still-body-mine{
				border:1px solid $gray;
				-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
				&.midterm{
					border-bottom: 2px dotted $gray;
				}
				&.fullterm{
					border-top: none;
				}
			}
			.table-body-mine{
				&.selected{
					background-color: $mid-color;
				}
				&.not-selected{
					background-color: $light-pink;
				}
			}
			.table-body-team{
				&.selected{
					background-color: blue;
				}
				&.not-selected{
					background-color: white;
				}
			}
			.table-body-mine, .still-body-mine{
				cursor: pointer;
			}
		}
	}
}

/* grid with arrow */
.timetable{
	.timetable-with-arrow{
		display: flex;
	}
	.timetable-table-con{
		width: 90%;
		@media screen and (min-width: 768px){
			width: 100%;
		}
	}
	.unvisible{
		display: none;
		@media screen and (min-width: 768px){
			display: table-cell;
		}
	}
	.visible{
		display: table-cell;
	}
	.prev-btn, .next-btn{
		margin-top: 30px;
		@media screen and (min-width: 768px){
			display: none;
		}
	}
}

/* still table */

.still-table{
	z-index: 1;
	color: transparent!important;
	background-color: transparent!important;
	left: 0;
	position: absolute;
	top: 0;
	& *{
		color: transparent!important;
		background-color: transparent!important;
		border-color: transparent!important;
	}
	.still-body-mine{
		&.selected{
			background-color: $mid-color!important;
		}
		&.not-selected{
			background-color: $light-pink!important;
		}
	}
}