.top3box {
  flex-direction: row;
}
.first {
  font-size: 20px;
  color: #ff0000;
  font-weight: bold;
}
.second {
  font-size: 20px;
  color: #ff7700;
  font-weight: bold;
}
.third {
  font-size: 20px;
  color: #ffca00;
  font-weight: bold;
}
.desc {
  font-size: 15px;
  font-weight: bold;
}
