.MuiDialog-paper {
  height: 630px;
  padding: 20px;
  @media screen and (min-width: 768px) {
    height: 600px;
  }
  .MuiFormControl-marginDense {
    width: 70%;
    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }
}

.user-info {
  .name-myspot {
    display: flex;
    justify-content: space-between;
    .getMySpot {
      color: #2699fb;
      font-weight: 600;
    }
  }
  .address-inputBtn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .searchPlace {
      color: white;
      background-color: #2699fb;
      border: 0;
      height: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.doro-jibun-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    height: 90%;
  }

  .address-tip-info {
    .address-tip {
      font-size: 30px;
      font-weight: 1000;
      color: #2699fb;
    }
  }
  .address-group-ex {
    .address-ex {
      line-height: 200%;
      margin: 10px 0;
      .address-ex-title {
        font-weight: 800;
      }
      .real-address {
        color: #2699fb;
      }
    }
    .address-dialog-img {
      display: flex;
      justify-content: flex-end;
      img {
        width: 150px;
      }
    }
  }
}

.hidden {
  display: none;
}
